.info-bar {
    height: auto;
    width: auto;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    color: rgba(86, 89, 92, 1);
    box-shadow: 0px 1px 0px #cccccc;
}
.info-bar-error {
    background-color: rgb(240, 199, 199);
}
.info-bar-success {
    background-color: rgb(214, 240, 199);
}
.status-icon {
    width: 16px;
    height: 16px;
    display: block;
    margin-bottom: 5px;
}
.error-icon {
    color:rgb(233, 87, 87);
   
}

.success-icon {
    color:rgb(59 161 0);;
}