.pagination-flex {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0px;
}
.pagination-flex > .pagination-flex-item {
    margin-left: 10px;
}
/* #pagination-right, #pagination-left {
    padding: 0px 5px 0px 5px;
    border-radius: 5px; 
    border: none;
    background-color:rgb(19, 59, 97);
} */