.project-task-btn {
    height: 30px;
    padding: 5px 10px;
}
.project-header-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.project-header-flex > * {
    margin: 0px 30px;
}