.sidebar-flex-container {
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    padding: 0px 0px;
    
}

.sidebar-item {
    /* width: 100%; */
    margin: 10px 0px 0px  5px;
    text-align: center;
    
    /* background-color: orange; */
}
.sidebar-item-active {
    /* border-right: 2px solid rgb(215 215 215); */
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.sidebar-flex-child-container {
    display: flex;
    
    font-weight: 600;
    height: 40px;
    position: relative;
    align-items: center;
    
}

.marker {
    position: absolute;
    content: "";
    top: 25%;
    height: 20px;
    width: 4px;
    background-color: #2e7fd3;
    border-radius: 10px;
    display: none;
}
.display-block {
    display: block;
}
/* .sidebar-flex-child-container:active::before {
    
} */
.sidebar-flex-child-item {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color:rgb(44, 44, 44);
    padding: 4px 0px 0px 0px;
}
.sidebar-text {
    height: 100%;
    width: 100%;
    text-align: left;
    padding-top: 25px;
}
.sidebar-icon {
    color:rgb(44, 44, 44);
    width: 24px;
    height: 24px;
    padding: 0px 5px 0px 8px;
}