input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
* {
  margin: 0;
  padding: 0;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: 0px 1px 2px 0px #cbcaca;
    background: #eeeded; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    box-shadow: 0px 1px 2px 0px #cbcaca;
    border-radius: 5px;
    background: #868686; 
  }
  body {
    background-color: rgb(248, 248, 248);
    /* background: linear-gradient(4deg, rgba(251,252,254,1) 4%, rgba(4,119,226,0.073564459963673) 100%); */
  }
  .heading-one {
    font-size: 38px;
    font-weight: 900;
    color: rgba(86, 89, 92, 1);
    /* text-shadow: 0px 1px 0px #cccccc; */
  }
  .heading-two {
    font-size: 16px;
    font-weight: 900;
    color: rgba(86, 89, 92, 1);
    /* text-shadow: 0px 1px 0px #cccccc; */
  }
  .content-two {
    font-size: 16px;
    font-weight: 400;
    color: rgb(130, 130, 130);
  }
  .primary-btn {
    background-color:#0477e2;
    border: 1px solid  rgba(255, 255, 255, 0.08);
    font-family: Inter;
    border-radius: 5px;
    color: #EFEBE9;
    padding: 0px 5px 0px 5px;
    box-shadow: 0px 1px 0px #cccccc;
  }
  .add-btn {
    height: 30px;
    width: 100px;
    padding: 5px 10px;
  }
  .secondary-btn {
    background-color:  rgba(255, 255, 255, 0.7);
    border: 1px solid  rgba(0, 0, 0, 0.0578);
    font-family: Inter;
    border-radius: 5px; 
    color: #37474F;
    padding: 0px 5px 0px 5px;
    box-shadow: 0px 1px 0px #cccccc;
  }
  .cancel-btn-small {
    height: 30px;
    width: 100px;
    padding: 5px 10px;
  }
  .primary-btn:active {
    box-shadow:none;
    background-color:#2e7fd3;
    color: #d3d0cf;
  }
  .secondary-btn:active {
    box-shadow:none;
    background-color: #EEEEEE;
    color: #00090e;
  }
  .register-btn, .cancel-btn, .login-btn {
    height: 40px;
    width:120px;
    font-size: 16px;
  }
/* Text input */

.text-area {
  border: 1px solid #dfdfdf;
  border-radius:5px;
  font-family: Inter;
  padding: 10px;
  font-size: 15px;
  height: 250px;
  resize: none;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, .text-area:focus {
  outline: none;
  border-bottom: 2.5px solid #2e7fd3;
  
}
input[type=text], input[type=password], input[type=email] {
  border: 1px solid #dfdfdf;
  border-radius:5px;
  font-family: Inter;
  padding: 10px;
  font-size: 16px;
  /* box-shadow: 0px 1px 0px #cccccc; */
}

/* Forms */
.form-heading {
  margin-bottom: 10px;
  /* margin-left: auto; */
}
.registrationForm, .loginForm {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 5% auto;
}
.dataForm {
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  width: 40%;
  
}
.registrationForm > input, .loginForm > input, .dataForm > *{
  margin: 0px 0px 10px 0px;
}

.registrationFormBtns, .loginFormBtns, .dataFormBtns {
  display: flex;
  justify-content: space-between;
}

.registrationForm > .anchor, .loginForm > .anchor {
  color: #2e7fd3;
  align-self: end;
  font-weight: bold;
  font-size: 15px;
  margin: 10px;
}

.page-header-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* background-color: #2e7ed315; */
  border-radius: 5px;
  height: 40px;
}
.page-header-flex > * {
  margin: 0px 30px;
}
.page-heading {
  margin-right: auto;
}
.icon-secondary {
  color:rgb(143 143 143);
  width: 24px;
  height: 24px;
  /* padding: 0px 5px 0px 8px; */
}
.icon-size-two {
  color:rgb(143 143 143);
  width: 18px;
  height: 18px;
}